@media only screen and (max-width: 1144px) {

.hero {
  height: 500px;
}

.hero-title {
  font-size: 70px;
  top: 25%;
}

.hero-subtitle {
  font-size: 25px;
  top: 25%;
}

.hero-btn {
  top: 30%;
  left: 4%;
}
.hero-btn span {
  top: 20%;
  font-size: 20px;
}

.intro-wrapper {
  height: 450px;
}

.intro-box {
  width: 300px;
}

.intro-box h1 {
  font-size: 33px;
  padding-top: 30px;
}

.intro-banner-text {
  font-size: 23px;
}

.wwd-title {
  font-size: 35px;
}

.wwd-subtitle {
  font-size:33px;
}

.wwd-body {
  font-size: 19px;
}

.wwd-phone {
  top: -129px;
}

}

@media only screen and (max-width: 980px) {

.projects-nav {
  display: none !important;
}

.hero {
  height: 450px;
}

.hero-title {
  top: 25%;
}

.hero-subtitle {
  top: 25%;
  font-size: 18px;
}

.hero-btn {
  top:35%;
}

.project-wrapper {
  width: 112%;
}
.project-block-title {
  font-size: 28px;
}

.project-intro {
  margin-left: 23%;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 11%;
  width: 53%;
}

.marketing-cta {
  position: absolute;
  margin-top: 460px;
  right: 35%;
}

}

@media only screen and (max-width: 767px) {

.intro-wrapper {
  height: 450px;
}

.intro-box {
  width: 250px;
}

.intro-box h1 {
  font-size: 28px;
  padding-top: 33px;
}

.intro-banner-text {
  font-size: 18px;
}

.intro-box {
  margin-left: 5%;
}

.intro-banner-text {
  padding-left: 5%;
  padding-right: 5%;
}

.wwd-wrapper {
  height: 550px;
}

.wwd-inner-wrapper {
  height: 578px;
  margin: 0 5%;
  top: 0;
  padding-top: 0;
}

.wwd-title {
  font-size: 30px;
  margin-right: 0; 
  margin-left: 5%;
  position: relative;
  top: 5%;
  padding: 0;
}

.light-text {
  font-size: 26px;
}

.wwd-body {
  font-size: 18px;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 0; 
  width: 50%;
}

.wwd-phone {
  background-image:url(/images/phone.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: relative;
  top: -300px;
  left: 65%;
}

.reasons-btn {
  border: none;
  background-color: transparent;
  width: 255px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  transition: 0.2s;
  margin-top: 100px;
  display: block;
}

.projects-title {
  font-size: 30px;
  margin-left: 0%;
  position: relative;
  padding: 0;
}

.project-intro {
  font-size: 16px;
  font-weight: 100;
  margin-top: 125px;
  margin-left: 9%;
  transition: 1s;
  width: 80%;
}

.projects-wrapper {
  height: 800px;
}

.project-wrapper {
  height: 600px;
  padding-top: 50px;
  width: 90%;
  left: 5%;
  margin-top: 35px;
}

.project-block {
  margin-top: 40px;
  margin-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.fotl-title {
  margin-top: 100px;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 10%;
  width: 56%;
}

.marketing-cta {
  position: absolute;
  margin-top: -170px;
  right: 30%;
}

.apply-form-body {
  width: 475px;
  margin: auto;
}

.input-box {
  width: 435px;
}

.submit-btn {
  margin-left: 320px;
}

.tc {
  padding-left: 42%;
}


}

@media only screen and (max-width: 506px) {
.row {
  margin-right:0;
}

.top-bar {
  text-align: left;
  padding-left: 25px;
}

.main-nav ul {
  padding: 0;
}
.main-nav li {
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  list-style: none;
}

.intro-box {
  margin-left: 0;
}

.hero {
  height: 335px;
}
.hero-title {
  left: 0;
  top: 10px;
  font-size: 40px;
}
.hero-btn {
  top: 10%;
  left: -10px;
}

.hero-subtitle {
  top: 4%;
  font-size: 25px;
  left: 0;
  width: 80%;
}

.hero-btn {
  top: 20%;
}

.intro-wrapper {
  height: 400px;
}

#banner-title {
  font-size: 30px;
}

#banner-subtitle {
  font-size: 25px;
}

.wwd-wrapper {
  padding-right: 0;
  background-color: #fffae4;
}

.wwd-inner-wrapper {
  margin: 0;
}


.wwd-body {
  font-size: 18px;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
}

.wwd-phone {
  background-image:url(/images/phone.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 11%;
}

.reasons-btn {
  border: none;
  background-color: transparent;
  width: 255px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  transition: 0.2s;
  margin-top: 10px;
  display: block;
}

.projects-wrapper {
  height: 900px;
  padding: 0;
  background: #fffae4;
}

.projects-title {
  top: 80px;
}

.project-intro {
  margin-top: 100px;
  margin-left: 14%;
}

.project-wrapper {
  height: 700px;
  padding-top: 50px;
  width: 100%; 
  left: 0%;
  margin-top: 35px;
}

.project-block-title {
  text-align: left;
  padding-left: 9%;
  padding-right: 5%;
}

.project-block {
  padding-left: 13%;
}

.fotl-title {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin-top: 100px;
  left: 8%;
  width: 90%;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 11%;
  width: 89%;
}

.marketing-cta {
  margin-top: -75px;
  left: 20%;
}

.apply-form-body {
  width: 100%;
  margin-left: 8px;
}

.input-box {
  width: 100%;
}

.submit-btn {
  margin-left: 0;
}

.tc {
  padding-left: 0;
}


}
















