@media (min-width:920px){

a {
  color: #323232;
  text-decoration: none !important;
}

a:hover, a:active {
  color: #4FC3F7;
}

.cta-button {
  text-align: center;
  width: 150px;
  height: 55px;
  border: 2px solid #D500F9;
  border-radius: 15px;
  color: #D500F9 !important;
}

.cta-button:hover {
  border-color: #fff;
  background: #D500F9 !important;
  color: #fff !important;
  cursor: pointer;
}

/* Default font sizes */
.title {
  font-size: 35px;
  font-weight: 400;
}

.title-deep {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.white {
  color: #fefefe;
}

.subtitle {
  font-size: 33px;
  font-weight: 100;
}

.paragraph {
  font-size: 25px;
  font-weight: 100;
}

img {
  pointer-events:none;
}

/* MAX screen size support */
.container-fluid {
  max-width: 1300px;
}

.navbar-default {
  background: #fff;
  border: none;
  padding-top: 15px;
}

.navbar-full-width {
  width: 100% !important;
}

.navbar-default .navbar-brand {
  color: #323232;
  font-family: 'Contrail One', cursive;
  font-size: 35px;
  padding: 15px;
}

.navbar-nav>li>a {
  font-size: 18px;
}

.intro {
  background: #fff;
  height: 100px;
}

.intro span {
  font-size: 35px;
  font-weight: 300;
  position: relative;
  top: 50px;
}

.hero {
  background: url(/images/aspiri.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.hero-text-container {
  height: 400px;
}

.hero-button {
  width: 185px;
  height: 50px;
  border: 1px solid #eee;
  background: #4fc3f7;
  border-radius: 15px;
  padding: 12px 12px;
}

.hero-button span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 400;
  color: #fefefe;
}

.hero-button:after {
  content: '\2192';
  color: #fefefe;
  transition: 0.2s;
  position: relative;
  top: -2px;
  left: 2px;
  opacity: 0;
}

.hero-button:hover {
  cursor: pointer;
}

.hero-button:hover:after {
  padding-left: 5px;
  opacity: 1;
}

.m-your-business {
  display: none;
}

.your-business {
  display: block;
  position: relative;
  background: #fff;
  height: 550px;
  padding: 25px;
}

.your-business-inner {
  background: url(/v1/images/abb3.jpg);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 500px;
  margin: auto;
}

#your-business-inner-trapezoid {
  border-bottom: 500px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  width: 55%;
  height: 100%;
}	

.your-business-title {
  color: #323232;
  padding-top: 160px;
  padding-left: 30px;
}

.your-business-subtitle {
  color: #323232;
  padding-left: 30px;
}

.your-business-description {
  height: 300px;
  position: absolute;
  width: 35%;
  top: 195px;
  right: 100px;
}

.m-our-work {
  display: none;
}

.our-work {
  display: block;
  height: 600px;
  background: #fff;
  padding: 25px;
}

.our-work-inner {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 550px;
  margin: auto;
}

#our-work-inner-trapezoid {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 550px solid #00796B;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
  width: 55%;
  height: 100%;
}

.our-work-description {
  padding-top: 160px;
  padding-left: 30px;
  width: 45%;
}

.our-work-title {
  position: absolute;
  color: #fff;
  padding-top: 220px;
  padding-left: 46px;
}

.our-work-subtitle {
  position: absolute;
  color: #fff;
  padding-top: 265px;
  padding-left: 46px;
}

.projects {
  height: 750px;
  background: #fff; 
  padding: 25px;
}

.projects-inner-container {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects-title {
  padding-top: 25px;
  text-align: center;
}

.project-inner-container-box {
  width: 430px;
  height: 130px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  margin: auto;
}

.project-inner-container-box:hover {
  cursor: pointer;
}

.project-title {
  text-align: left; 
}

.projects-inner {
  position: relative;
  background: #81D4FA;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 700px;
  margin: auto;
}

#projects-inner-trapezoid {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 700px solid #4FC3F7;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  width: 55%;
  height: 100%;
}

.cta {
  height: 300px;
  padding: 25px;
}

.cta-inner {
  height: 200px;
  background: url(/v1/images/abb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-title {
  padding-top: 25px;
  text-align: center;
  color: #fefefe;
}

.cta-title img {
  vertical-align: sub;
}

.footer {
  text-align: center;
  word-spacing: 5px;
}

/*bottom nav*/
.bottomnav {
  background-color: #20A1D5;
  position:fixed;
  max-width:100%;
  bottom:0;
  left:0;
  z-index:100;
  -webkit-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  height: 0;
  display: none;
}

.bottomnav-style {
  color:white;
}

.bottom-nav-align {
  text-align: center;
}

.btn-navbar:hover {
  background-color: white;
  color:#323232 !important;
}

/*apply form*/
.apply-form-title {
  margin-top: 20px;
  margin-left: 3%;
}
.apply-form-title h1 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}
.apply-form-title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

hr {
  width: 100px;
  margin: 25px 0 25px 0;
}

.apply-form-body {
  margin-left: 4%;
  margin-bottom: 4%;
  padding: 20px;
  background: rgba(255,255,255,1);
  width: 550px;
  border-radius: 2px;
}

.input-text {
  font-size: 22px;
  font-weight: 100;
}

.input-title {
  font-size: 20px;
  font-weight: 300;
}

.input-box {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  box-shadow: none;
}

input[type=checkbox] {
  margin: 10px 10px 10px 0;
}
input[value] {
  color: #fff;
  font-size: 20px;
}

.submit-btn {
  margin-top: 30px;
  margin-left: 386px;
  background: #3FD3E3;
  border: none;
  padding: 15px 25px;
  outline: 0;
}

.submit-btn:active {
  background: #39c5d4;
}

.apply-form-wrapper {
  background: #323232;
  padding: 0;
}



}

@media (min-width:768px) and (max-width:919px){

a {
  color: #323232;
  text-decoration: none !important;
}

a:hover, a:active {
  color: #4FC3F7;
}

/* Default font sizes */
.title {
  font-size: 35px;
  font-weight: 400;
}

.title-deep {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.white {
  color: #fefefe;
}

.subtitle {
  font-size: 33px;
  font-weight: 100;
}

.paragraph {
  font-size: 25px;
  font-weight: 100;
}

img {
  pointer-events:none;
}

.navbar-default {
  background: #fff;
  border: none;
  padding-top: 15px;
}

.navbar-full-width {
  width: 100% !important;
}

.navbar-default .navbar-brand {
  color: #323232;
  font-family: 'Contrail One', cursive;
  font-size: 35px;
  padding: 15px;
}

.intro {
  background: #fff;
  height: 100px;
}

.intro span {
  font-size: 35px;
  font-weight: 300;
  position: relative;
  top: 15px;
}

.hero {
  background: url(/images/aspiri.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.hero-text-container {
  height: 400px;
}

.hero-button {
  width: 175px;
  height: 50px;
  border: 1px solid #eee;
  background: #4fc3f7;
  border-radius: 15px;
  padding: 12px 12px;
}

.hero-button span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 400;
  color: #fefefe;
}

.hero-button:hover {
  cursor: pointer;
}

.m-your-business {
  display: none;
}

.your-business {
  display: block;
  position: relative;
  background: #fff;
  height: 550px;
  padding: 25px;
}

.your-business-inner {
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 500px;
  margin: auto;
}

#your-business-inner-trapezoid {
  border-bottom: 500px solid #fdfdfd;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  width: 55%;
  height: 100%;
}	

.your-business-title {
  color: #323232;
  padding-top: 130px;
  padding-left: 30px;
}

.your-business-subtitle {
  color: #323232;
  padding-left: 30px;
}

.your-business-description {
  height: 300px;
  position: absolute;
  width: 35%;
  top: 195px;
  right: 80px;
}

.m-our-work {
  display: none;
}

.our-work {
  display: block;
  height: 600px;
  background: #fff;
  padding: 25px;
}

.our-work-inner {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 550px;
  margin: auto;
}

#our-work-inner-trapezoid {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 550px solid #00796B;
  border-left: 100px solid transparent;
  border-right: 0px solid transparent;
  width: 55%;
  height: 100%;
}

.our-work-description {
  padding-top: 160px;
  padding-left: 6px;
  width: 45%;
}

.our-work-title {
  position: absolute;
  color: #fff;
  padding-top: 220px;
  padding-left: 0;
}

.our-work-subtitle {
  position: absolute;
  color: #fff;
  padding-top: 265px;
  padding-left: 0;
}

.projects {
  height: 750px;
  background: #fff; 
  padding: 25px;
}

.projects-inner-container {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects-title {
  padding-top: 25px;
  text-align: center;
}

.project-inner-container-box {
  width: 430px;
  height: 130px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  margin: auto;
}

.project-inner-container-box:hover {
  cursor: pointer;
}

.project-title {
  text-align: left; 
}

.projects-inner {
  position: relative;
  background: #81D4FA;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 700px;
  margin: auto;
}

#projects-inner-trapezoid {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 700px solid #4FC3F7;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  width: 55%;
  height: 100%;
}

.cta {
  height: 300px;
  padding: 25px;
}

.cta-inner {
  height: 200px;
  background: url(/v1/images/abb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-title {
  padding-top: 25px;
  text-align: center;
  color: #fefefe;
}

.cta-title img {
  vertical-align: sub;
}

.footer {
  text-align: center;
  word-spacing: 5px;
}

/*bottom nav*/
.bottomnav {
  background-color: #20A1D5;
  position:fixed;
  max-width:100%;
  bottom:0;
  left:0;
  z-index:100;
  -webkit-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  height: 0;
  display: none;
}

.bottomnav-style {
  color:white;
}

.bottom-nav-align {
  text-align: center;
}

.btn-navbar:hover {
  background-color: white;
  color:#323232 !important;
}


/*apply form*/
.apply-form-title {
  margin-top: 20px;
  margin-left: 3%;
}
.apply-form-title h1 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}
.apply-form-title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

hr {
  width: 100px;
  margin: 25px 0 25px 0;
}

.apply-form-body {
  margin-left: 4%;
  margin-bottom: 4%;
  padding: 20px;
  background: rgba(255,255,255,1);
  width: 550px;
  border-radius: 2px;
}

.input-text {
  font-size: 22px;
  font-weight: 100;
}

.input-title {
  font-size: 20px;
  font-weight: 300;
}

.input-box {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  box-shadow: none;
}

input[type=checkbox] {
  margin: 10px 10px 10px 0;
}
input[value] {
  color: #fff;
  font-size: 20px;
}

.submit-btn {
  margin-top: 30px;
  margin-left: 386px;
  background: #3FD3E3;
  border: none;
  padding: 15px 25px;
  outline: 0;
}

.submit-btn:active {
  background: #39c5d4;
}

.apply-form-wrapper {
  background: #323232;
  padding: 0;
}



}


@media (min-width:320px) and (max-width:767px){
form {
  margin-bottom: 0;
}

a {
  color: #323232;
  text-decoration: none !important;
}

a:hover, a:active {
  color: #4FC3F7;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

/* Default font sizes */
.title {
  font-size: 25px;
  font-weight: 400;
}

.title-deep {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.subtitle {
  font-size: 23px;
  font-weight: 100;
}

.white {
  color: #fefefe;
}

.paragraph {
  font-size: 25px;
  font-weight: 100;
}

img {
  pointer-events:none;
}

.navbar-default {
  background: #fff;
  border: none;
  padding-top: 15px;
}

.navbar-full-width {
  width: 100% !important;
}

.navbar-default .navbar-brand {
  color: #323232;
  font-family: 'Contrail One', cursive;
  font-size: 35px;
  padding: 15px;
}

.intro {
  background: #fff;
  height: 100%;
  padding-bottom: 25px;
  padding-left: 15px;
}

.intro span {
  font-size: 33px;
  font-weight: 300;
  position: relative;
  top: 15px;
}

.hero {
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 25px;
}

.hero-text-container {
  height: 100%;
}

.hero-text {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.hero-button {
  width: 165px;
  height: 50px;
  border: 1px solid #eee;
  background: #4fc3f7;
  border-radius: 15px;
  padding: 12px 12px;
  margin: auto;
}

.hero-button span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2;
  font-weight: 400;
  color: #fefefe;
}

.hero-button:hover {
  cursor: pointer;
}

.m-your-business {
  display: block;
  height: 100%;
  background: #fff;
  margin-bottom: 0;
  padding-top: 25px;
}

.m-your-business-container {
  height: 100%;
  width: 300px;
  background: #fff;
  padding: 13px;
  margin-left: auto;
  margin-right: auto;
}

.m-your-business-title {
  text-align: center;
}

.break {
  width: 25%;
  border: 2px solid #eee;
  margin: auto;
}

.m-your-business-description-container {
  padding-top: 25px;
  padding-bottom: 30px;
  height: 100%;
  background: #fff;
  width: 90%;
  margin: auto;
  text-align: center;
}

.your-business {
  display: none;
}

.our-work {
  display: none;
}

.m-our-work {
  display: block;
  height: 100%;
  background: #fff;
  margin-bottom: 10px;
  padding-top: 25px;
}

.m-our-work-container {
  height: 100px;
  width: 300px;
  background: #fff;
  padding: 13px;
  margin-left: auto;
  margin-right: auto;
}

.m-our-work-title {
  text-align: center;
}

.m-our-work-description-container {
  padding-top: 25px;
  height: 300px;
  background: #fff;
  width: 90%;
  margin: auto;
  text-align: left;
}


.projects {
  height: 710px;
  background: #fff; 
  padding: 0;
}

.projects-inner-container {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.projects-title {
  padding-top: 25px;
  text-align: center;
}

.project-inner-container-box {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  margin: auto;
}

.project-inner-container-box:hover {
  cursor: pointer;
}

.project-title {
  text-align: left; 
}

.projects-inner {
  position: relative;
  background: #81D4FA;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.09);
  height: 700px;
  margin: auto;
}

#projects-inner-trapezoid {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 700px solid #4FC3F7;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  width: 55%;
  height: 100%;
}

.cta {
  height: 210px;
  padding: 0;
}

.cta-inner {
  height: 200px;
  background: url(/v1/images/abb2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cta-title {
  padding-top: 25px;
  text-align: center;
  color: #fefefe;
}

.cta-title img {
  vertical-align: sub;
}

.footer-container {
  padding-bottom: 10px;
}

.footer {
  text-align: center;
  word-spacing: 5px;
}

/*bottom nav*/
.bottomnav {
  background-color: #20A1D5;
  position:fixed;
  max-width:100%;
  bottom:0;
  left:0;
  z-index:100;
  -webkit-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  box-shadow: 0px -4px 16px -6px rgba(0,0,0,0.64);
  height: 0;
  display: none;
}

.bottomnav-style {
  color:white;
}

.bottom-nav-align {
  text-align: center;
}

.btn-navbar:hover {
  background-color: white;
  color:#323232 !important;
}


/*apply form*/
.apply-form-title {
  margin-top: 20px;
  margin-left: 3%;
}
.apply-form-title h1 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}
.apply-form-title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

hr {
  width: 100px;
  margin: 25px 0 25px 0;
}

.apply-form-body {
  margin-left: 0;
  margin-bottom: 0;
  padding: 30px 30px 100px 30px;
  background: rgba(255,255,255,1);
  height: 100%;
  width: 100%;
  border-radius: 2px;
  position: relative;
}

.input-text {
  font-size: 22px;
  font-weight: 100;
}

.input-title {
  font-size: 20px;
  font-weight: 300;
}

.input-box {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  box-shadow: none;
}

input[type=checkbox] {
  margin: 10px 10px 10px 0;
}
input[value] {
  color: #fff;
  font-size: 20px;
}

.submit-btn {
  margin-top: 30px;
  background: #3FD3E3;
  border: none;
  padding: 15px 25px;
  outline: 0;
  position: absolute;
  right: 30px;
}

.submit-btn:active {
  background: #39c5d4;
}

.apply-form-wrapper {
  background: #fff;
  padding: 0;
}



}











