/* @media (min-width:1281px) {

.hero-title {
}

.hero-subtitle {
}

.hero-btn {
}
.hero-btn span {
}

.intro-wrapper {
  height: 450px;
}

.intro-box {
  width: 300px;
}

.intro-box h1 {
  font-size: 33px;
  padding-top: 30px;
}

.intro-banner-text {
  font-size: 23px;
}

.wwd-title {
  font-size: 35px;
}

.wwd-subtitle {
  font-size:33px;
}

.wwd-body {
  font-size: 19px;
}

.wwd-phone {
  top: -129px;
}

}
*/

@media (min-width:1200px){

.hero-title {
  top: 150px;
}

.intro-img {
  margin-top: 175px;
}

.project-intro {
  margin-top: 75px;
}

.project-info span {
  font-size: 19px;
}

.project-block {
  margin-top: 20px;
}

.projects-nav {
  display: none !important;
}

.start-now {
  bottom: -2%;
  right: -10%;
}

.hero {
  background: url(/images/aspiri.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
}

.hero-subtitle {
}

.hero-btn {
}

.projects-title {
  font-size: 35px;
}

.project-wrapper {
  width: 112%;
  margin-top: -129px;
}
.project-block-title {
  font-size: 25px;
}

.project-intro {
  margin-left: 23%;
  font-size: 16px;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 11%;
  width: 53%;
}

.marketing-cta {
  position: absolute;
  margin-top: 460px;
  right: 35%;
}

}

@media (min-width:768px) and (max-width:1199px){

.hero-title {
  top: 100px;
  left: 3%;
}
.hero-title h1 {
  font-size: 30px;
}

.hero {
}

.hero-btn {
  top: 475px;
  left: 0;
}

.intro-img {
  display: block;
  margin-top: 125px;
}

.intro {
  font-size: 30px;
}
.intro span {
  left: 1%;
}

.intro-wrapper {
  height: 450px;
}

.intro-box {
  width: 250px;
}

.intro-box h1 {
  font-size: 28px;
  padding-top: 33px;
}

.intro-banner-text {
  font-size: 18px;
}

.intro-box {
  margin-left: 5%;
}

.intro-banner-text {
  padding-left: 5%;
  padding-right: 5%;
}

#banner-subtitle {
  font-size: 25px;
}

.wwd-wrapper {
  height: 550px;
}

.wwd-inner-wrapper {
  height: 605px;
  margin: 0 5%;
  top: 0;
  padding-top: 0;
}

.wwd-title {
  font-size: 30px;
  margin-right: 0; 
  margin-left: 5%;
  position: relative;
  top: 5%;
  padding: 0;
}

.light-text {
  font-size: 26px;
}

.wwd-body {
  font-size: 18px;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 0; 
  width: 50%;
}

.wwd-phone {
  background-image:url(/images/phone.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: relative;
  top: -300px;
  left: 65%;
}

.reasons-btn {
  border: none;
  background-color: transparent;
  width: 255px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  transition: 0.2s;
  margin-top: 100px;
  display: block;
}

.inner-wrapper {
  padding-top: 0;
  height: 675px;
}

.projects-title {
  font-size: 30px;
  margin-left: -5%;
  position: relative;
  padding: 0;
}

.project-intro {
  font-size: 12px;
  font-weight: 100;
  margin-top: -661px;
  margin-left: 5%;
  transition: 1s;
  width: 50%;
}

.start-now {
    bottom: 8%;
    right: 0;
}

.projects-wrapper {
  height: 800px;
}

.project-wrapper {
  height: 600px;
  padding-top: 50px;
  width: 90%;
  margin: auto;
  margin-top: 35px;
}

.project-block {
  margin-top: 40px;
  margin-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%;
}

.fotl-title {
  margin-top: 100px;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 10%;
  width: 56%;
}

.marketing-cta {
  position: absolute;
  margin-top: -170px;
  right: 30%;
}

.apply-form-body {
  width: 475px;
  margin: auto;
}

.input-box {
  width: 435px;
}

.submit-btn {
  margin-left: 320px;
}

.tc {
  padding-left: 42%;
}

}

@media (min-width:320px) and (max-width:767px){

.navbar {
  position: relative;
}

.hero-container {
  margin-top: -10px;
}

.hero {
  background: #fff;
  height: 525px;
}
.divider {
  display: block;
  width: 100px;
  border: 2px solid #eee;
}

.intro {
  font-size: 35px;
  top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro span {
  left: 0;
}

.hero-title {
  top: 0;
  left: 0;
}

.hero-btn {
  top: 400px;
  left: 5%;
  width: 165px;
  height: 40px;
}
.hero-btn span {
  font-size: 18px;
}

.intro-img {
  display: block;
  width: 106%;
  margin-top: 125px;
} 

.row {
}

.top-bar {
  text-align: left;
  padding-left: 25px;
}

.main-nav ul {
  padding: 0;
}
.main-nav li {
  padding-top: 15px;
  font-size: 18px;
  text-align: left;
  list-style: none;
}

.intro-box {
  margin-left: 0;
}

#banner-title {
  font-size: 30px;
}

#banner-subtitle {
  font-size: 25px;
}

.wwd-wrapper {
  padding-right: 0;
  background-color: #FFF;
  height: 527px;
}

.wwd-inner-wrapper {
  margin: 0;
  height: 475px;
  top: 0px;
}

.wwd-title {
  top: 20px;
}

.wwd-body {
  margin-top: 18%;
  font-size: 18px;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
}

.wwd-phone {
  display: none;
}

.reasons-btn {
  border: none;
  background-color: transparent;
  width: 255px;
  height: 100px;
  border-radius: 0;
  text-align: center;
  transition: 0.2s;
  margin-top: 10px;
  display: block;
}

.inner-wrapper {
  height: 599px;
  margin: 0;
  top: 0;
}

.projects-wrapper {
  height: 623px;
  padding: 0 0 0 15px;
  background: #FFF;
}

.projects-title {
  top: -30px;
  left: 1%;
  font-size: 35px;
}

.project-intro {
  margin-top: 100px;
  margin-left: 14%;
}

.project-main-wrapper {
  margin-top: -20px;
}

.project-wrapper {
  height: 450px;
  padding-top: 25px;
  margin-top: 0;
  width: 100%; 
  left: 0%;
  margin-top: 0;
}

.project-hr {
  display: block;
  margin: 10px 0 10px 0;
  width: 25%;
  border: 2px solid #eee;
}

.project-block-title {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  padding-left: 8%;
  padding-right: 5%;
}

.project-block {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 13%;
}

.project-block-description1 {
  margin-top 40px;
}
.project-block-description1 img {
  margin-left: 60%;
}
.project-block-description1 span {
  margin-left: 0;
  margin-right: 2%;
  width: 70%;
  font-weight: 100;
  font-size: 18px;
}

.project {
  font-size: 18px;
}

.project1 span::before {
  content: "Plan ";
  font-weight: 300;
  font-size: 18px;
}
.project2 span::before {
  content: "Meet ";
  font-weight: 300;
  font-size: 18px;
}
.project3 span::before {
  content: "Execute ";
  font-weight: 300;
  font-size: 18px;
}
.project4 span::before {
  content: "Support ";
  font-weight: 300;
  font-size: 18px;
}

.project-intro {
  display: none;
}

.start-now {
  top: 375px;
  left: 32px;
}

.fotl-wrapper {
  height: 600px;
}

.fotl-img {
  margin: 0;
}

.fotl-title {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  position: relative;
  margin-top: 10px;
  left: 5%;
  width: 90%;
}

.fotl-intro {
  font-size: 18px;
  margin-left: 5%;
  width: 95%;
}

.marketing-cta {
  margin-top: 25px;
  left: 30px;
}

.reasons-btn span {
  position: relative;
  top: 0;
  right: 57px;
  font-size: 16px;
  font-weight: 400;
  color: #F44336;
  transition: 0.5s;
  text-transform: uppercase;
}

.apply-form-body {
  width: 100%;
  margin-left: 0;
}

.input-box {
  width: 100%;
}

.submit-btn {
  margin-left: 0;
}

.tc {
  padding-left: 0;
}

.examples-wrapper {
  height: 1000px;
}

.examples-title {
  font-size: 35px;
  text-align: left;
  margin-left: 5%;
}

.examples-item {
  border: 1px solid #eee;
  height: 400px;
  width: 100%;
}

}
















