* {
  font-family: 'Heebo', san-serif;
}

a:link {
  text-decoration: none;
  color: #fff;
}

body {
  overflow-x: hidden;
}

#boody {
  overflow-y: scroll;
}

button {
  -webkit-user-select: none; /* Chrome/Safari */  
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}


/*
.hamburger {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
}
.hamburger button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}
.hamburger hr {
  margin: 5px 0;
  border-color: #424242;
  border-width: 2px;
  width: 25px;
  margin-left: 20%;
}
.hamburger button:active {
}
.hamburger button:focus {
  outline: 0;
}
*/

.navbar {
  position: fixed;
  width: 100%;
  min-height: 100px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  z-index: 9898989898989;
}

.navbar-default {
  background-color: rgba(255,255,255,.99);
}

.navbar-vertical-align {
  padding-top: 25px;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Contrail One', cursive !important;
  color: #F44336 !important;
}
.navbar-nav>li>a {
  color: #424242 !important;
  font-size: 20px;
}

.intro {
  position: relative;
  width: 100%;
  top: 100px;
  background: transparent;
  text-align: left;
  font-size: 35px;
  font-weight: 100;
  padding-top: 25px;
  padding-bottom: 0;
  z-index: 999;
}
.intro span {
  position: relative;
  left: 3%;
}

.hero-description {
  border: 1px solid #eee;
  padding: 3%;
  background: rgba(255,255,255,.8);
  border-radius: 4px;
  height: 300px;
  width: 100%;
  margin-top: 175px;
  margin-left: 23%;
}
.hero-description li>a {
  color: inherit !important;
  font-weight: 100;
}

.intro-img {
  display: none;
  height: 432px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 218px;
}
.intro-img img {
  width: 100%;
}

.main-nav {
  width: 100%;
  height: 0px;
  background-color: rgba(3,3,3,0.9);
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0px;
  display: none;
  list-style: none;
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  z-index: 99999999;
}
.main-nav li {
  padding-top: 15px;
  font-size: 18px;
  text-align: center;
  list-style: none;
}
.main-nav li:hover {
  cursor: pointer;
}

#banner-title {
  font-size: 35px;
  font-weight: 400;
}

#banner-subtitle {
  font-size: 30px;
  font-weight: 100;
}

.toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.x img {
  width: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.light-text {
  font-weight: 100;
  font-size: 33px;
}

.intro-desc {
  margin-top: 20px;
}

.hero {
  background: url(/images/aspiri.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  overflow: hidden;
}

.divider, .project-hr{
  display: none;
}


/*
.hero {
  background: url(/images/abb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  overflow: hidden;
}
*/

.hero-title {
  font-size: 40px;
  color: #323232;
  position: relative;
  top: 125px;
  left: 8%;
  font-weight: 400;
  width: 100%;
  z-index: 999;
}
.hero-title p {
  font-weight: 100;
  font-size: 18px;
}
.hero-title h1 {
  font-size: 35px;
}

.hero-subtitle {
  font-size: 30px;
  color: #fff;
  position: relative;
  top: 125px;
  left: 8%;
  font-weight: 100;
  width: 750px;
  z-index: 1000;
  padding-right: 5px;
}

.hero-btn {
  width: 220px;
  height: 55px;
  border: 1px solid #1DE9B6;
  border-radius: 10px;
  top: 550px;
  margin-left: 12%;
  text-align: center;
  transition: 0.2s;
  position: absolute;
}
.hero-btn span {
  position: relative;
  top: 18%;
  left: -22px;
  font-size: 24px;
  font-weight: 400;
  color: #1DE9B6;
  transition: 0.2s;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero-btn:hover span {
}
.hero-btn span:after {
  content: '\2192';
  position: absolute;
  opacity: 1;
  top: 3px;
  right: -35px;
  transition: 0.5s;
}
.hero-btn:hover span:after {
  right: -45px;
}

.hero-btn:active {
}

/*
.hero-projects-btn {
  border: 1px solid #fff;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  left: 5%;
  text-align: center;
  transition: 0.2s;
  margin-top: 200px;
}
.hero-projects-btn span {
  position: relative;
  top: 15%;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  transition: 0.5s;
}
.hero-projects-btn:hover {
  box-shadow: inset 0px 0px 10px rgba(192,192,192,0.2);
  cursor: pointer;
  width: 155px;
  height: 55px;
}

.hero-projects-btn:hover span {
  padding-right: 25px;
}

.hero-projects-btn span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
} 

.hero-projects-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hero-projects-btn:focus {
  outline: none;
}

.hero-projects-btn:active {
  background-color: rgba(0,0,0,0.3);
}
*/
.projects-nav {
  width: 300px;
  height: 0px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  top: 10px;
  left: 150px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  display: none; 
  color: transparent;
  transition: 1s;
}

.projects-nav {
  list-style: none;
  text-align: center;
}
.projects-nav li {
  padding-top: 15px;
  font-size: 18px;
}
.projects-nav li:hover {
  cursor: pointer;
}


.intro-wrapper {
  height: 400px;
  background-color: #3FD3E3;
}
.intro-box {
  position: relative;
  top: -75px;
  margin-left: 10%;
  height: 100px;
  width: 350px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.06);
}
.intro-box h1 {
  padding-top: 25px;
  font-size: 40px;
  font-weight: 300;
  color: #424242; 
}

.intro-banner-text {
  font-size: 28px;
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  font-weight: 100;
}

.wwd-wrapper {
  height: 600px;
  background-color: #fbfbfb;
}

.wwd-inner-wrapper {
  height: 586px;
  background-color: #fff;
  position: relative;
  margin: 0 5%;
  top: 40px;
  overflow: hidden;
  padding-top: 0;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.wwd-title {
  font-size: 35px;
  font-weight: 500;
  margin-left: 5%; 
  position: relative;
  top: 5%;
  padding: 0;
}

.wwd-body {
  font-size: 18px;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 5%;
}

.wwd-phone {
  background-image:url(/images/phone.png);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  position: relative;
  top: -121px;
  left: 5%;
}

.inner-wrapper {
  height: 578px;
  background-color: #fff;
  position: relative;
  margin: 0 5%;
  top: 70px;
  overflow: hidden;
  padding-top: 50px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.reasons-btn {
  border: none;
  background-color: transparent;
  width: 261px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  transition: 0.2s;
  margin-top: 50px;
  display: block;
}
.reasons-btn span {
  position: relative;
  top: 15%;
  right: 52px;
  font-size: 16px;
  font-weight: 400;
  color: #F44336;
  transition: 0.5s;
  text-transform: uppercase;
}
.reasons-btn:focus {
  outline: none;
}

.reasons-btn span:after {
  content: '\2192';
  position: absolute;
  opacity: 1;
  top: 2px;
  right: -30px;
  transition: 0.5s;
}
.reasons-btn:hover span:after {
  opacity: 1;
  right: -35px;
}

.reasons-modal {
  position: relative;
  top: 50px;
  height: 500px;
  background-color: #fff;
  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin: auto;
  width: 80%;
  padding: 10px;
  display: none;
}

.projects-wrapper {
  height: 675px;
  background: #FFF59D;
}

.projects-title {
  font-size: 40px;
  font-weight: 500;
  text-align: left; 
  position: relative;
  top: 5%;
  left: 61%;
  width: 90%;
}

.projects-list {
  overflow:none;
}
.project {
  margin: 10% 0 5% 10%;
  padding: 0;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.project img {
  width: 100%;
  height: auto;
}
.project img:hover {
  cursor: pointer;
}
/*
.project-wrapper {
  background-color: rgba(0,0,0,.5); 
  position: absolute;  
  top: 0;
  width: 100%;
  height: 100%;
}
*/

.project-intro {
  font-size: 20px;
  font-weight: 100;
  margin-top: 125px;
  margin-left: 23%;
  width: 50%;
}

.project-wrapper {
  height: 535px;
  background-color: #fdfdfd;
  position: relative;
  padding-top: 55px;
  width: 100%;
  left: 0;
  margin-top: -141px;
  margin-left: 20px;
}

.project-block-title {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.project-block {
  margin-top: 30px;
  margin-bottom: 5%;
  padding-right: 11%;

}

.project-block-description1 {
  margin-top 40px;
}
.project-block-description1 img {
  margin-left: 60%;
}
.project-block-description1 span {
  margin-left: 0;
  margin-right: 2%;
  width: 70%;
  font-weight: 100;
}
.project1 span::before {
  content: "Plan ";
  font-weight: 300;
  font-size: 26px;
}
.project2 span::before {
  content: "Initial Draft ";
  font-weight: 300;
  font-size: 26px;
}
.project3 span::before {
  content: "Tweak ";
  font-weight: 300;
  font-size: 26px;
}
.project4 span::before {
  content: "Finalize ";
  font-weight: 300;
  font-size: 26px;
}

.start-now {
  position: absolute;
  bottom: 1%;
  right: -4%;
}

.marketing-cta {
  position: absolute;
  margin-top: 425px;
  right: 50%;
}

.fotl-wrapper {
  height: 620px;
  background: #f7f7f7;
  padding: 0;
}

.fotl-title {
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  position: relative;
  padding-top: 8%;
  left: 9%;
  width: 90%;
}

.fotl-intro {
  color: #333333;
  font-size: 20px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 10%;
  background-color: rgba(255,255,255,.9);
  padding: 30px;
  height: 300px;  
  width: 40%;
}


.fotl-img {
  background-image: url(/images/abb2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 10px;
}

.top-bar {
  height: 75px;
  background: #0a0a0a;  
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding-top: 10px;
}

.apply-form-title {
  margin-top: 20px;
  margin-left: 3%;
}
.apply-form-title h1 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
}
.apply-form-title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}

hr {
  width: 100px;
  margin: 25px 0 25px 0;
}

.apply-form-body {
  margin-left: 4%;
  margin-bottom: 4%;
  padding: 20px;
  background: rgba(255,255,255,1);
  width: 550px;
  border-radius: 2px;
}

.input-text {
  font-size: 22px;
  font-weight: 100;
}

.input-title {
  font-size: 20px;
  font-weight: 300;
}

.input-box {
  width: 500px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  box-shadow: none;
}

input[type=checkbox] {
  margin: 10px 10px 10px 0;
}
input[value] {
  color: #fff;
  font-size: 20px;
}

.submit-btn {
  margin-top: 30px;
  margin-left: 386px;
  background: #3FD3E3;
  border: none;
  padding: 15px 25px; 
  outline: 0;
}
.submit-btn:active {
  background: #39c5d4;
}

.tc {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 45%;
}

.apply-form-wrapper {
  background: #323232;
}

.examples-wrapper {
  height: 550px;
  background: #313131;
}

.examples-inner-wrapper {
  margin: auto;
  height: 400px;
  width: 500px;
  background: #000;
  overflow: scroll;
}

.example {
  width: 100%;
  height: auto;
}

.examples-title {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #fff;

}
